@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@300;400&family=Roboto:wght@300&family=Ubuntu:wght@300&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #407ef4;
}

.container {
  position: relative;
  max-width: 900px;
  width: 900px;
  background-color: #fff;
  border-radius: 6px;
  padding: 30px;
  margin: 0 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.container header::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: #f46740;
}
.container header::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: #407ef4;
  top: 55px;
  left: 123px;
}
.container form {
  position: relative;
  margin-top: 16px;
  min-height: 490px;
  /* background-color: #f2f2f2; */
}
.container form .details {
  margin-top: 10px;
}
.container form .details .ID {
  margin-top: 10px;
}
.container form .title {
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #333;
  display: block;
  margin-bottom: 8px;
}

.container form .fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
form .fields .input-field {
  display: flex;
  flex-direction: column;
  width: 32%;
  margin: 4px 0;
}

.input-field label {
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}

.input-field input {
  height: 42px;
  margin: 8px 0;
  padding: 0 15px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-weight: 400;
  color: #333;
}
.input-field input:is(:focus, :valid) {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.input-field input[type="date"] {
  color: #707070;
}
.input-field input[type="date"]:valid {
  color: #333;
}
.container form .nextBtn,
.backBtn {
  border: none;
  outline: none;
  padding: 10px 30px;
  background-color: #407ef4;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  width: 209px;
  margin-top: 15px;
  margin-bottom: 20px;
  transition: all 0.3s linear;
}
.container form .nextBtn:hover {
  background-color: #265df2;
}
.container form .backBtn:hover {
  background-color: #265df2;
}

@media (max-width: 750px) {
  form .fields .input-field {
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    width: 48%;
  }
}

@media (max-width: 440px) {
  form .fields .input-field {
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    width: 98%;
  }
}
